input#value5[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	width:126px;
	height:126px;
	background: url(../img/button/button-32.png) no-repeat;
	background-size: contain;
}

input#value5[type="checkbox"]:checked {
	width:126px;
	height:126px;
    background: url(../img/button/button-35.png) no-repeat;
	background-size: contain;
}
